doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    meta(property="og:title" content="hOmewRecKerzzzzz")
    meta(property="og:description" content="Fun for all affinities and sounds.")
    meta(property="og:image" content="images/llama.gif")
  body
    block content
